<div class="box relative w-[270px] h-full appear-softly p-3 rounded-lg border border-[#E9E9E9]">
    @if (look.images && look.images.length > 0) {
        <div class="box-header relative rounded overflow-hidden">
            <div class="check-container flex justify-start absolute w-full p-3">
                <div class="checkbox relative bg-black/30 w-8 h-8 flex justify-center items-center rounded-full overflow-hidden">
                    <label class="checkbox-container relative">
                        <input
                        type="checkbox"
                        [checked]="this.select"
                        (click)="toggleLookSelection(!this.select, look)"
                        >
                        <span class="checkmark w-5! h-5!"></span>
                    </label>
                </div>
            </div>
            <div class="image w-full h-[180px]">
                <img
                class="w-full h-full object-cover object-center"
                [src]="look.images[0]" alt="">
            </div>
        </div>
    }
    <div class="box-content mt-3 flex flex-col gap-y-5 justify-between"
    [ngClass]="{
        'h-[calc(100%-calc(180px+12px))]': look.images && look.images.length > 0
    }"
    >
        <div class="look-details">
            <p class="text-base text-black tracking-[0.1px] leading-6 limited-text two-lines">
                {{ look.name }} {{ (look.description && look.description.length > 0) ? ' - ' + look.description : '' }}
            </p>
        </div>
        <div class="products-rounded relative flex gap-6 justify-between items-center">
            <div class="images flex justify-start items-center">
                @for (product of look.products; track $index) {
                    <div class="product-image w-8 h-8 relative rounded-full border border-white overflow-hidden"
                    [style.zIndex]="look.products.length - $index"
                    [ngClass]="{
                        '-ml-5': $index > 0
                    }"
                    >
                        <img
                        [src]="product.imagePath" alt="">
                    </div>
                }
            </div>
            <div class="selected-count">
                <p class="text-[#999] text-sm limited-text one-line">
                    {{ look.products.length }} seleccionado{{ look.products.length > 1 ? 's' : '' }}
                </p>
            </div>
        </div>
        <div class="actions flex justify-between items-center">
            @switch (this.look.status) {
                @case (this.lookStatus.DRAFT) {
                    <div class="edit">
                        <a
                        [routerLink]="[this.route + '/draft/edit/' + look.id ]"
                        (click)="this.linkRelatedProducts()"
                        class="px-1 cursor-pointer py-3 text-sm text-black font-semibold rounded-lg">
                            Editar
                        </a>
                    </div>
                    <div class="dynamic-action">
                        <a
                        [routerLink]="[this.route + '/draft/publish/' + look.id ]"
                        [queryParams]="this.queryParams"
                        class="px-4 py-3 block text-sm text-white bg-black font-semibold rounded-lg">
                            Continuar
                        </a>
                    </div>
                }
                @case (this.lookStatus.PUBLISHED) {
                    <div class="delete">
                        <a
                        [routerLink]="['/store/looks/see/' + this.look.id]"
                        [queryParams]="this.queryParams"
                        (click)="this.linkRelatedProducts()"
                        class="px-1 cursor-pointer py-3 text-sm text-black font-semibold rounded-lg">
                            Visualizar
                        </a>
                    </div>
                    <div class="dynamic-action">
                        <button class="px-4 py-3 flex gap-2 items-center justify-center text-sm text-[#288853] bg-[#E9FAF5] font-semibold rounded-lg">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_740_2765)">
                                <path d="M5.00016 8.00016L7.00016 10.0002L11.0002 6.00016M14.6668 8.00016C14.6668 11.6821 11.6821 14.6668 8.00016 14.6668C4.31826 14.6668 1.3335 11.6821 1.3335 8.00016C1.3335 4.31826 4.31826 1.3335 8.00016 1.3335C11.6821 1.3335 14.6668 4.31826 14.6668 8.00016Z" stroke="#288853" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_740_2765">
                                <rect width="16" height="16" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            Publicado
                        </button>
                    </div>
                }
                @case (this.lookStatus.DELETED) {
                    <div class="delete">
                        <!-- <a
                        [routerLink]="[this.route + look.id ]"
                        [queryParams]="this.queryParams"
                        (click)="this.linkRelatedProducts()"
                        class="px-1 cursor-pointer py-3 text-sm text-black font-semibold rounded-lg">
                            Visualizar
                        </a> -->
                    </div>
                    <div class="dynamic-action">
                        <button class="px-4 py-3 flex gap-2 items-center justify-center text-sm text-[#E13029] bg-[rgba(225,48,41,0.10)] font-semibold rounded-lg">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.3332 4.6665L4.6665 11.3332M4.6665 4.6665L11.3332 11.3332" stroke="#E13029" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Apagado
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</div>