<div class="wrapper py-6 px-8">
    <div class="wrapper-header">
        <div class="top-content flex justify-between items-start">
        </div>
    </div>
    <div class="wrapper-content mt-10 flex flex-col gap-8 items-center">
        <section class="header-section relative w-full">
            <div class="cover w-full h-[15rem] relative overflow-hidden rounded">
                <img src="/assets/images/profile/cover.jpg" class="w-full h-full object-cover object-center" alt="">
                <div class="cover-content p-4 absolute w-full h-full top-0 left-0 flex flex-col justify-between">
                    <div class="head flex justify-between items-center">
                        <h1 class="font-bold text-2xl">
                            Perfil
                        </h1>
                        <span class="location bg-black/20 py-0.5 px-1 rounded text-white text-sm">Localização: Kilamba, quarterão X43 - AP 31 </span>
                    </div>
                    <div class="bottom flex justify-end items-center">
                        <button class="cursor-pointer flex w-fit text-xs font-semibold text-white gap-1 justify-center items-center py-1 px-2 rounded bg-black/50">
                            Editar
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_546_1780)">
                            <path d="M14.7142 14.5H9.38088M2.38086 14.8334L6.08037 13.4105C6.317 13.3195 6.43531 13.274 6.54601 13.2146C6.64433 13.1618 6.73806 13.1009 6.82622 13.0324C6.92547 12.9554 7.01511 12.8658 7.19438 12.6865L14.7142 5.16671C15.4506 4.43033 15.4506 3.23642 14.7142 2.50004C13.9778 1.76366 12.7839 1.76366 12.0475 2.50004L4.52771 10.0199C4.34844 10.1991 4.25881 10.2888 4.18179 10.388C4.11337 10.4762 4.05246 10.5699 3.99968 10.6682C3.94026 10.7789 3.89476 10.8972 3.80375 11.1339L2.38086 14.8334ZM2.38086 14.8334L3.75294 11.266C3.85112 11.0107 3.90022 10.8831 3.98442 10.8246C4.05801 10.7735 4.14906 10.7542 4.23706 10.771C4.33775 10.7902 4.43445 10.8869 4.62785 11.0803L6.13391 12.5864C6.32731 12.7798 6.42401 12.8765 6.44324 12.9772C6.46004 13.0652 6.44072 13.1562 6.38962 13.2298C6.33116 13.314 6.20352 13.3631 5.94824 13.4613L2.38086 14.8334Z" stroke="white" stroke-width="1.65" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_546_1780">
                            <rect width="16" height="16" fill="white" transform="translate(0.714355 0.5)"/>
                            </clipPath>
                            </defs>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="profile w-[8.25rem] h-[8.25rem] rounded-full absolute border-4 border-white overflow-hidden flex justify-center items-center -bottom-10 left-[50%] -translate-x-[50%] -translate-y-[100%]">
                <img src="/assets/images/profile/profile.png" class="w-full h-full object-cover object-center" alt="">
                <button class="cursor-pointer absolute bottom-0 left-0 flex w-full h-12 text-xs font-semibold text-white gap-1 justify-center items-center py-1 px-2 rounded bg-black/40">
                    Editar
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_546_1780)">
                    <path d="M14.7142 14.5H9.38088M2.38086 14.8334L6.08037 13.4105C6.317 13.3195 6.43531 13.274 6.54601 13.2146C6.64433 13.1618 6.73806 13.1009 6.82622 13.0324C6.92547 12.9554 7.01511 12.8658 7.19438 12.6865L14.7142 5.16671C15.4506 4.43033 15.4506 3.23642 14.7142 2.50004C13.9778 1.76366 12.7839 1.76366 12.0475 2.50004L4.52771 10.0199C4.34844 10.1991 4.25881 10.2888 4.18179 10.388C4.11337 10.4762 4.05246 10.5699 3.99968 10.6682C3.94026 10.7789 3.89476 10.8972 3.80375 11.1339L2.38086 14.8334ZM2.38086 14.8334L3.75294 11.266C3.85112 11.0107 3.90022 10.8831 3.98442 10.8246C4.05801 10.7735 4.14906 10.7542 4.23706 10.771C4.33775 10.7902 4.43445 10.8869 4.62785 11.0803L6.13391 12.5864C6.32731 12.7798 6.42401 12.8765 6.44324 12.9772C6.46004 13.0652 6.44072 13.1562 6.38962 13.2298C6.33116 13.314 6.20352 13.3631 5.94824 13.4613L2.38086 14.8334Z" stroke="white" stroke-width="1.65" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_546_1780">
                    <rect width="16" height="16" fill="white" transform="translate(0.714355 0.5)"/>
                    </clipPath>
                    </defs>
                    </svg>
                </button>
            </div>
            <div class="store-info mt-16 flex flex-col items-center justify-center">
                <h1 class="name text-base leading-6 font-medium">Isaquias Sebastião Store</h1>
                <p class="email my-2 text-sm text-[#999999]">miguelpaulovida@gmail.com</p>
                <div class="more-details flex gap-4 justify-center items-center">
                    <div class="phone text-black text-xs font-medium">
                        Telefone
                        <span class="text-sm ml-2 text-[#999999]">931183898</span>
                    </div>
                    <div class="nif text-black text-xs font-medium">
                        NIF
                        <span class="text-sm ml-2 text-[#999999]">8736390LAS863</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-fit max-w-[62.85rem] mx-auto p-6 border border-[#e9e9e9] rounded-lg">
            <div class="title">
                <h1 class="text-lg font-bold">Informações pessoais</h1>
            </div>
            <div class="form mt-8">
                <form class="">
                    <div class="inputs w-full flex flex-wrap gap-7">
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="phone" class="text-xs font-medium">Telefone</label>
                            <input type="text"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="phone" placeholder="924 232 234" id="phone">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="nif" class="text-xs font-medium">NIF</label>
                            <input type="text"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="nif" placeholder="Insira o seu NIF" id="nif">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="email" class="text-xs font-medium">Email</label>
                            <input type="email"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="email" placeholder="email@example.com" id="email">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="name" class="text-xs font-medium">Nome da loja</label>
                            <input type="text"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="name" placeholder="Insira o nome" id="name">
                        </div>
                        <div class="select-category w-full max-w-[18.75rem]">
                            <mi-select
                            [label]="'Categoria da loja'"
                            [name]="'select-category'"
                            [items]="[{ name: 'category-1', id: 'cat' }]"
                            [optionValue]="'id'"
                            [optionName]="'name'"
                            [required]="true"
                            [placeholder]="'Seleccione a categoria'"
                            />
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="location" class="text-xs font-medium">localização</label>
                            <input type="text"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="location" placeholder="Insira a localização" id="location">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="password" class="text-xs font-medium">Senha actual</label>
                            <input type="password"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="password" placeholder="Insira a senha" id="password">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="new_password" class="text-xs font-medium">Nova senha</label>
                            <input type="password"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="new_password" placeholder="Insira a nova senha" id="new_password">
                        </div>
                        <div class="input w-full flex flex-col gap-y-3 max-w-[18.75rem]">
                            <label for="confinrm_password" class="text-xs font-medium">Confirmar senha</label>
                            <input type="password"
                            class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="new_password" placeholder="Confirme a nova senha" id="confinrm_password">
                        </div>
                    </div>
                    <div class="descripiton mt-7">
                        <div class="description input flex flex-col gap-y-3">
                            <label for="description" class="text-xs font-medium">Descrição da loja</label>
                            <!-- [ngClass]="{
                                'is-invalid': this.addProductFormGroup.get('description')?.invalid && this.addProductFormGroup.get('description')?.touched
                            }" -->
                            <textarea
                            rows="5" class="placeholder:text-xs resize-none text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                            formControlNamey="description" id="description"></textarea>
                        </div>
                    </div>
                    <div class="buttons flex justify-end items-center mt-8">
                        <!-- [disabled]="this.isCreating()" -->
                        <button
                        type="submit"
                        class="min-w-[150px] p-4 flex justify-center items-center bg-black text-white text-sm leading-4 rounded-lg">
                            <!-- @if (this.isCreating()) {
                                <mi-spinner />
                            } @else { -->
                                Actualizar informações
                            <!-- } -->
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>