<div class="wrapper py-6 px-8">
    <div class="wrapper-header">

        <div class="top-content flex justify-between items-start">
            <div class="aside">
                <div class="title mb-4">
                    <h1 class="text-black font-extrabold text-2xl">
                        Produtos
                    </h1>
                </div>
                <div class="tiny-text">
                    <p class="text-[#AAA] text-base">
                        Resumo dos principais dados sobre os produtos
                    </p>
                </div>
            </div>
            <div class="actions-chips flex gap-8 justify-start items-center">
    
                <div class="chip border bg-white w-fit border-black rounded-lg">
                    <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 6.66683H2M10.6667 1.3335V4.00016M5.33333 1.3335V4.00016M5.2 14.6668H10.8C11.9201 14.6668 12.4802 14.6668 12.908 14.4488C13.2843 14.2571 13.5903 13.9511 13.782 13.5748C14 13.147 14 12.5869 14 11.4668V5.86683C14 4.74672 14 4.18667 13.782 3.75885C13.5903 3.38252 13.2843 3.07656 12.908 2.88482C12.4802 2.66683 11.9201 2.66683 10.8 2.66683H5.2C4.0799 2.66683 3.51984 2.66683 3.09202 2.88482C2.71569 3.07656 2.40973 3.38252 2.21799 3.75885C2 4.18667 2 4.74672 2 5.86683V11.4668C2 12.5869 2 13.147 2.21799 13.5748C2.40973 13.9511 2.71569 14.2571 3.09202 14.4488C3.51984 14.6668 4.0799 14.6668 5.2 14.6668Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                        Selecionar data
                    </button>
                </div>
                <div class="chip border bg-white border-black w-fit rounded-lg">
                    <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 10V10.8C14 11.9201 14 12.4802 13.782 12.908C13.5903 13.2843 13.2843 13.5903 12.908 13.782C12.4802 14 11.9201 14 10.8 14H5.2C4.07989 14 3.51984 14 3.09202 13.782C2.71569 13.5903 2.40973 13.2843 2.21799 12.908C2 12.4802 2 11.9201 2 10.8V10M11.3333 6.66667L8 10M8 10L4.66667 6.66667M8 10V2" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Baixar Relatório
                    </button>
                </div>
    
            </div>
        </div>
        <div class="widgets mt-10 flex gap-6 flex-wrap justify-start items-center">
            @for (widget of this.widgets; track $index) {
                <mi-widget
                [widgetBackground]="widget.backgroundColor"
                [widgetMainTextColor]="widget.mainTextColor"
                class="widget w-[calc(32.98%-12px)]"
                >
                    <div class="w-description flex gap-2 justify-between items-center"
                    slot="widget-description"
                    >
                        @if (widget.svgIcon.visible) {
                            <mi-svg
                            [reference]="widget.svgIcon.ref"
                            [color]="widget.svgIcon.color"
                            />
                        }
                        <p class="">
                            {{ widget.headerLabel }}
                        </p>
                    </div>
                    <div class="cta-dots"
                    slot="widget-cta-dots"
                    >
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="big-content mb-2"
                    slot="widget-big-content"
                    >
                        <h1 class=" text-[2.5rem] font-extrabold leading-12">
                            {{ widget.data.main | number | replaceBy }}
                        </h1>
                    </div>
                    <div class="widget-footer"
                    slot="widget-footer"
                    >
                        <p class="flex gap-x-1 justify-start text-sm items-center"
                        [style.color]="widget.footerTextColor"
                        >
                            @if (widget.data.percentageStatus === widgetPercentageStatusEnum.ENCREASE) {
                                <span class="increasing text-[#61C554]! flex justify-start items-center">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 12L12 4M12 4H6.66667M12 4V9.33333" stroke="#61C554" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    {{ widget.data.percentageValue }}%
                                </span>
                            } @else {
                                <span class="decreasing text-[#ED695E]! flex justify-start items-center">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4L12 12M12 12V6.66667M12 12H6.66667" stroke="#ED695E" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    {{ widget.data.percentageValue }}%
                                </span>
                            }
                            {{ widget.data.footerLabelValue| number | replaceBy }}  {{ widget.data.footerLabelText }}
                        </p>
                    </div>
                </mi-widget>
            }
        </div>

    </div>
    <div class="wrapper-content mt-10"></div>
</div>