<div class="wrapper py-6 px-8">
    <div class="wrapper-header">

        <div class="top-content flex justify-between items-start">
        </div>
    </div>
    <div class="wrapper-content mt-10">
        <div class="section mt-10 py-6 w-full rounded-lg border border-[rgba(233,233,233,0.60)] bg-white flex flex-col gap-y-0">
            
            <div class="header px-6 flex justify-between items-center">
                <div class="header-aside">
                    <div class="title mb-0">
                        <h1 class="text-black font-bold text-lg">
                            Editar Look
                        </h1>
                    </div>
                    <div class="tiny-text">
                        <p class="text-[#AAA] text-base">
                        </p>
                    </div>
                </div>
                <div class="header-actions-chips flex gap-8 justify-start items-center">
        
                    <!-- <div class="chip borders bg-white w-fit borders-[#E9E9E9] rounded-lg">
                        <button class="text-black font-semibold p-4 flex gap-2 justify-center items-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0003 9.66675V20.3334M9.66699 15.0001H20.3337M28.3337 15.0001C28.3337 22.3639 22.3641 28.3334 15.0003 28.3334C7.63653 28.3334 1.66699 22.3639 1.66699 15.0001C1.66699 7.63628 7.63653 1.66675 15.0003 1.66675C22.3641 1.66675 28.3337 7.63628 28.3337 15.0001Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div> -->
        
                </div>
            </div>
            <div class="content relative py-8 px-6">
                <div class="row flex gap-6 justify-start items-stretch">
                    <div class="col max-w-[50%] w-full py-4 px-6 border outline-offset-10 bg-white border-[#E9E9E9] rounded-lg">
                        <div class="upload-section">
                            @if (this.theLook && this.theLook.images.length > 0) {
                                <div class="title mb-5">
                                    <h5 class="text-xs font-medium">
                                        Imagens adicionadas
                                    </h5>
                                </div>
    
                                <div class="images-gallery mb-0 flex flex-col gap-4">
                                    <mi-horizontal-gallery
                                    [images]="this.theLook.images"
                                    />
                                </div>
                            }

                            <div class="dropzone">
                                <mi-dropzone
                                [name]="'looks-images'"
                                [showBiggerSvg]="(this.theLook && this.theLook.images.length > 0) ? false : true"
                                [previewFileUrls]="true"
                                (outcomeFiles)="this.selectedLookImages = $event"
                                [isInvalidFromParent]="this.selectedLookImages.length <= 0"
                                />
                            </div>
                        </div>
                        <div class="selected-products mt-4 flex justify-between items-center">
                            @if(this.selectedProducts$().length > 0){
                                <div class="products-rounded relative flex gap-6 justify-between items-center">
                                    <div class="images flex justify-start items-center">
                                        @for (product of this.selectedProducts$(); track $index) {
                                            <div class="product-image w-8 h-8 relative rounded-full border border-white overflow-hidden"
                                            [style.zIndex]="this.selectedProducts$().length - $index"
                                            [ngClass]="{
                                                '-ml-5': $index > 0
                                            }"
                                            >
                                                <img
                                                [src]="product.imagePath" alt="">
                                            </div>
                                        } @empty {
                                        }
                                    </div>
                                    <div class="selected-count">
                                        <p class="text-[#999] text-sm limited-text one-line">
                                            {{ this.selectedProducts$().length }} seleccionado{{ this.selectedProducts$().length > 1 ? 's' : '' }}
                                        </p>
                                    </div>
                                </div>
                            } @else {
                                <p class="text-[#999] text-sm limited-text one-line">Seleccione os produtos para criar o look</p>
                            }
                            <div class="button">
                                <!-- [routerLink]="(this.selectedProducts$().length > 0) ? ['/route-displaying-the-beloging-products'] : ['/store/products']" -->
                                <button
                                (click)="changeProductsModalVisibility(true)"
                                class="px-4 py-3 text-sm text-black font-semibold rounded-lg border border-black">
                                    Ver produtos
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col max-w-[50%] w-full py-4 px-6 border bg-white border-[#E9E9E9] rounded-lg">
                        <form
                        [formGroup]="this.editLookFormGroup"
                        (submit)="submit()"
                        class="form flex flex-col gap-y-8">
                            <div class="input flex flex-col gap-y-3">
                                <label for="title" class="text-xs font-medium">Título do Look</label>
                                <input type="text"
                                maxlength="30"
                                class="placeholder:text-xs duration-[.3s] text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                [ngClass]="{
                                    'border-red-500!': this.editLookFormGroup.get('title')?.invalid && this.editLookFormGroup.get('title')?.touched
                                }"
                                formControlName="title" placeholder="Look Fashion Win" id="title">
                            </div>

                            <div class="description input flex flex-col gap-y-3">
                                <label for="description" class="text-xs font-medium">Descrição</label>
                                <textarea rows="5"
                                class="placeholder:text-xs duration-[.3s] resize-none text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                maxlength="30"
                                [ngClass]="{
                                    'border-red-500!': this.editLookFormGroup.get('description')?.invalid && this.editLookFormGroup.get('description')?.touched
                                }"
                                formControlName="description"
                                placeholder="Moda Casual para festa"
                                id="description"></textarea>
                            </div>

                            <div class="buttons flex justify-end items-center mt-8">
                                <!-- <button type="button" class="cancel p-4 text-sm leading-4 text-[#999] rounded-lg">
                                    Cancelar
                                </button> -->
                                <button
                                [disabled]="this.editLookFormGroup.invalid"
                                type="submit"
                                class="send p-4 min-w-[150px] text-sm leading-4 bg-black disabled:bg-black/80 duration-[.3s] text-white rounded-lg">
                                    @if (this.isPublishing()) {
                                        <mi-spinner />
                                    } @else {
                                        Publicar
                                    }
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<mi-modal 
[showModalFromParent]="this.showProductsModal()"
[hideOnBgClick]="false"
(hideModalOnParent)="this.changeProductsModalVisibility(!$event)"
>

<div class="table-section mt-0 py-6 w-[1153px] max-h-[90vh] overflow-y-auto rounded-lg border border-[rgba(233,233,233,0.60)] bg-white flex flex-col gap-y-10">
            
    <div class="table-header px-6 flex justify-between items-start">
        <div class="table-header-aside">
            <div class="chip-primary borde bg-white w-fit border border-[#E9E9E9] rounded-lg">
                <button
                [routerLink]="null"
                (click)="this.cancel()"
                class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                    Cancelar
                </button>
            </div>
            <!-- <div class="title mb-4">
                <h1 class="text-black font-bold text-lg">
                    Lista de produtos
                </h1>
            </div>
            <div class="tiny-text">
                <p class="text-[#AAA] text-base">
                    Todos os produtos disposto da sua loja
                </p>
            </div> -->
        </div>
        <div class="table-header-actions-chips flex gap-4 justify-end items-center">

            <!-- <div class="chip border bg-white w-fit border-[#E9E9E9] rounded-lg">
                <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 8H12M2 4H14M6 12H10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Filtrar
                </button>
            </div> -->
            <div class="chip-primary borde bg-black w-fit border border-black rounded-lg">
                <button
                [routerLink]="null"
                (click)="save()"
                class="text-white font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                    Salvar
                </button>
            </div>
        </div>
    </div>
    <div class="table-content relative">
        <mi-table
        [pagination]="true"
        [route]="this.route"
        [queryParamName]="'product_modal_page'"
        [perPage]="this.perPage"
        [currentPage]="this.currentPage"
        [totalItems]="this.totalItems"
        >
            <thead class="bg-[#F8F8F8] sticky z-5 w-full left-0 text-left"
            #theadElementRef
            [style.top.px]="TABLE_STICKY_TOP"
            slot="table-header"
            >
                <tr class="text-sm">
                    <th class="relative py-4 px-6" *ngIf="this.checkbox">
                        <label class="checkbox-container"
                        [ngClass]="{
                            'all-checked': this.selectedItems.length === this.totalItems,
                            'some-checked': this.selectedItems.length > 0  && (this.selectedItems.length < this.totalItems) 
                        }"
                        >
                            <input type="checkbox"
                            (click)="this.toggleSelect()"
                            [checked]="this.selectedItems.length > 0"
                            >
                            <span class="checkmark checkmark-th"></span>
                        </label>
                    </th>
                    <th class="py-4 px-6" *ngFor="let item of this.tableHeader; let l = last"
                    [ngClass]="{
                        'text-right': l
                    }"
                    >{{ item }}</th>
                </tr>
            </thead>
            <tbody
            class="relative"
            slot="table-body"
            >
                @if (!(this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.PRODUCTS) | async)) {
                    @if(this.tableProducts.length > 0){
                        @if (this.selectedItems.length > 0) {
                            <tr class="text-sm appear-softly sticky bg-white z-5 w-full left-0"
                            [style.top.px]="selectedDetailsStickyTopSpacing"
                            >
                                <td colspan="7" class="text-left pl-4 pr-10 py-4 font-medium">
                                    <div class="selected-details flex justify-between items-center">
                                        <div class="aside">
                                            <p class="text-[#999]">
                                                {{ this.selectedItems.length }} / <span class="text-black">{{ this.totalItems }}</span>
                                                Selecionado{{ this.selectedItems.length > 1 ? 's' : '' }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        @for (product of this.tableProducts; track $index) {
                            <tr class="text-sm appear-softly"
                            [ngClass]="{
                                'bg-[#F8F8F8]': isSelected(product.id, 'checked')
                            }"
                            >
                                <td class="relative py-4 px-6"
                                *ngIf="this.checkbox"
                                >
                                    <label class="checkbox-container">
                                        <input
                                        type="checkbox"
                                        [checked]="isSelected(product.id, 'checked')"
                                        (click)="selectItem(product)"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="py-4 px-6">
                                    <div class="product-details flex gap-x-2 justify-start items-center">
                                        <div class="image w-12 h-12 overflow-hidden"
                                        *ngIf="this.withImage"
                                        [ngClass]="{
                                            'rounded-full': this.imageRadius == 'full',
                                            'rounded': this.imageRadius == 'lg',
                                        }"
                                        >
                                            <img src="{{ (product.imagePath != '') ? product.imagePath : 'assets/images/products/no-image.png' }}" class="w-full h-full object-cover object-center" alt="">
                                        </div>
                                        <div class="product max-w-42.5 flex flex-col gap-y-2 justify-between items-start">
                                            <h1 class="text-black text-sm leading-4 font-medium limited-text one-line" [title]="product.name">
                                                {{ product.name }}
                                            </h1>
                                            <p
                                            *ngIf="this.withTinyText"
                                            class="text-sm text-[#aaa] leading-4 limited-text one-line">
                                                ID: {{ product.ID }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-4 px-6 text-[#828282]">{{ product.subcategory.name }}</td>
                                <td class="py-4 px-6 text-[#828282] text-center">{{ product.quantity | number | replaceBy: ',' : ' ' }}</td>
                                <td class="py-4 px-6 text-[#828282] text-center">{{ product.created_at }}</td>
                                <td class="py-4 px-6 text-[#828282]">{{ product.price| number | replaceBy }} AOA</td>
                                <td class="py-4 px-6 flex justify-end">
                                    <button class="chip py-1 px-2 items-center flex gap-x-2 justify-center rounded-full font-medium"
                                    [style.backgroundColor]="(product.status![0].status) ? 'rgba(39,206,153,0.10)' : 'rgba(225,48,41,0.10)'"
                                    [style.color]="(product.status) ? '#288853' : '#E13029'"
                                    >
                                        <mi-svg
                                        [reference]="(product.status) ? this.svgRefEnum.CHECK_CIRCLE : this.svgRefEnum.MINUS_CIRCLE"
                                        [color]="(product.status) ? '#288853' : '#E13029'"
                                        />
                                        {{ (product.status) ? 'Disponível' : 'Indisponível' }}
                                    </button>
                                </td>
                            </tr>
                        }
                    } @else {
                        <tr class="text-sm appear-softly">
                            <td colspan="7" class="text-left px-6 py-4 font-medium">
                                Sem produtos cadastrados.
                            </td>
                        </tr>
                    }
                } @else {
                    @for(placeholder of this.generatePlaceholders(); track $index){
                        <tr class="text-sm appear-softly">
                            <td class="relative py-4 px-6" *ngIf="this.checkbox">
                                <label class="checkbox-container relative">
                                    <span class="checkmark-placeholder placeholder relative! w-6! h-6!"></span>
                                </label>
                            </td>
                            <td class="py-4 px-6">
                                <div class="product-details flex gap-x-2 justify-start items-center">
                                    <div class="image relative w-12 h-12 overflow-hidden"
                                    *ngIf="this.withImage"
                                    [ngClass]="{
                                        'rounded-full': this.imageRadius == 'full',
                                        'rounded': this.imageRadius == 'lg',
                                    }"
                                    >
                                        <div class="placeholder"></div>
                                    </div>
                                    <div class="product max-w-42.5 flex flex-col gap-y-2 justify-between items-start">
                                        <h1 class="text-transparent relative! placeholder text-sm leading-4 font-medium limited-text one-line">
                                            Texto médio para o skeleton
                                        </h1>
                                        <p
                                        *ngIf="this.withTinyText"
                                        class="text-sm relative! w-fit! placeholder text-transparent leading-4 limited-text one-line">
                                            Texto Pequeno
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="py-4 px-6 text-transparent">
                                <p class="placeholder relative! w-fit!">Texto pequeno</p>
                            </td>
                            <td class="py-4 px-6 text-transparent">
                                <p class="placeholder relative! w-fit!">Texto pequeno</p>
                            </td>
                            <td class="py-4 px-6 text-transparent">
                                <p class="placeholder relative! w-fit!">Texto pequeno</p>
                            </td>
                            <td class="py-4 px-6 text-transparent">
                                <p class="placeholder relative! w-fit!">Texto pequeno</p>
                            </td>
                            <td class="py-4 px-6  flex justify-end">
                                <button class="chip placeholder text-transparent relative! w-fit! py-1 px-2 rounded-full font-medium">
                                    Texto pequeno
                                </button>
                            </td>
                        </tr>
                    }
                }

                @if (this.selectedItems.length > 0) {
                    <div class="modal-selected-products fixed ml-6 bottom-10 z-10 bg-white p-6 w-[360px] h-[240px] rounded-lg shadow-[0px_8px_24px_4px_rgba(0,0,0,0.08)]">
                        <div class="products-container h-full overflow-y-auto">
                            <div class="boxes flex flex-col gap-4 items-start">
                                @for (selectedProduct of selectedItems; track $index) {
                                    <div class="box flex justify-start gap-2">
                                        <div class="image w-10 h-10 relative rounded overflow-hidden">
                                            <img [src]="(selectedProduct.imagePath != '') ? selectedProduct.imagePath : 'assets/images/products/no-image.png'" class="w-full h-full object-cover object-center" alt="">
                                        </div>
                                        <div class="description">
                                            <p class="text-xs mb-1 font-medium leading-4 limited-text one-line">{{ selectedProduct.name}}</p>
                                            <p class="text-xs text-[#AAA] limited-text one-line">ID: {{ selectedProduct.ID }}</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

            </tbody>
        </mi-table>
    </div>

</div>

</mi-modal>