<div class="wrapper py-6 px-8">
    <div class="wrapper-header">

        <div class="top-content flex justify-between items-start">
        </div>
    </div>
    <div class="wrapper-content mt-10">
        <div class="section mt-10 py-6 w-full rounded-lg border border-[rgba(233,233,233,0.60)] bg-white flex flex-col gap-y-0">
            
            <div class="header px-6 flex justify-between items-center">
                <div class="header-aside">
                    <div class="title mb-0">
                        <h1 class="text-black font-bold text-lg">
                            Adicionar Produtos
                        </h1>
                    </div>
                    <div class="tiny-text">
                        <p class="text-[#AAA] text-base">
                        </p>
                    </div>
                </div>
                <div class="header-actions-chips flex gap-8 justify-start items-center">
        
                    <div class="chip borders bg-white w-fit borders-[#E9E9E9] rounded-lg">
                        <button class="text-black font-semibold p-4 flex gap-2 justify-center items-center">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0003 9.66675V20.3334M9.66699 15.0001H20.3337M28.3337 15.0001C28.3337 22.3639 22.3641 28.3334 15.0003 28.3334C7.63653 28.3334 1.66699 22.3639 1.66699 15.0001C1.66699 7.63628 7.63653 1.66675 15.0003 1.66675C22.3641 1.66675 28.3337 7.63628 28.3337 15.0001Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
        
                </div>
            </div>
            <div class="content relative py-8 px-6">
                <div class="row flex gap-6 justify-start items-stretch">
                    <div class="col max-w-[50%] w-full py-4 px-6 border outline-offset-10 bg-white border-[#E9E9E9] rounded-lg">
                        <div class="upload-section">

                            @if (this.theProduct && this.theProductImages.length > 0) {
                                <div class="title mb-5">
                                    <h5 class="text-xs font-medium">
                                        Imagens adicionadas
                                    </h5>
                                </div>
    
                                <div class="images-gallery mb-0 flex flex-col gap-4">
                                    <mi-horizontal-gallery
                                    [images]="this.theProductImages"
                                    />
                                </div>
                            }

                            <div class="title mb-5">
                                <h5 class="text-xs font-medium">
                                    Adicionar imagem
                                </h5>
                            </div>
                            <div class="dropzone">
                                <mi-dropzone
                                [showDimentionsText]="false"
                                [name]="'product-images'"
                                [showBiggerSvg]="false"
                                (outcomeFiles)="this.files = $event"
                                [isInvalidFromParent]="this.files.length <= 0"
                                />
                            </div>
                        </div>

                        @if(this.selectedColors.length > 0){
                            <div class="colors-images-display mt-12">
                                <div class="title mb-4">
                                    <h5 class="text-lg font-bold">
                                        Imagens do produto por cor
                                    </h5>
                                </div>

                                @for (color of this.selectedColors; track color.hexCode) {
                                    <div class="uploaded-files mt-8">
                                        <div class="colors w-full mb-4 flex justify-between items-center">
                                            <h5 class="text-xs">{{ color.colorName }}</h5>
                                            <div
                                            class="colored-shape w-[18px] h-[18px] rounded-full"
                                            [style.backgroundColor]="color.hexCode"
                                            ></div>
                                        </div>
                                        <div class="files flex flex-col gap-y-6" *ngIf="this.colorsWithImages[color.id] && this.colorsWithImages[color.id].length > 0">                                
                                            @for (file of this.colorsWithImages[color.id]; track $index) {
                                                <div class="file p-3 bg-[#f8f8f8] border border-[#e9e9e9] rounded-lg flex gap-x-2 justify-start items-stretch">
                                                    <div class="image-preview relative! w-14! h-12! rounded overflow-hidden"
                                                    [ngClass]="{
                                                        'placeholder': !file.hasLoaded
                                                    }"
                                                    >
                                                        <img
                                                        (load)="imageHasLoaded(color.id, $index)"
                                                        [ngClass]="{
                                                            'opacity-0': !file.hasLoaded,
                                                            'opacity-1': file.hasLoaded,
                                                        }"
                                                        src="{{ file.previewUrl }}"
                                                        class="object-fit duration-[.6s] object-center w-full h-full"
                                                        alt="">
                                                    </div>
                                                    <div class="file-details w-full flex justify-between items-center">
                                                        <div class="main-content w-[340px]">
                                                            <div class="filename mb-2">
                                                                <p class="text-black text-sm font-medium max-w-[340px] limited-text one-line">
                                                                    {{ file.name }}
                                                                </p>
                                                            </div>
                                                            <div class="tiny-details flex gap-x-2 justify-start items-center">
                                                                <p class="text-[#aaa] text-sm limited-text one-line">
                                                                    {{ file.size | dataFormat:2 }}
                                                                </p>
                                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <g clip-path="url(#clip0_42_5643)">
                                                                    <path d="M7.99992 14.6668C11.6818 14.6668 14.6666 11.6821 14.6666 8.00016C14.6666 4.31826 11.6818 1.3335 7.99992 1.3335C4.31802 1.3335 1.33325 4.31826 1.33325 8.00016C1.33325 11.6821 4.31802 14.6668 7.99992 14.6668Z" fill="#61C554"/>
                                                                    <path d="M4.99992 8.00016L6.99992 10.0002L10.9999 6.00016M14.6666 8.00016C14.6666 11.6821 11.6818 14.6668 7.99992 14.6668C4.31802 14.6668 1.33325 11.6821 1.33325 8.00016C1.33325 4.31826 4.31802 1.3335 7.99992 1.3335C11.6818 1.3335 14.6666 4.31826 14.6666 8.00016Z" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                                                    </g>
                                                                    <defs>
                                                                    <clipPath id="clip0_42_5643">
                                                                    <rect width="16" height="16" fill="white"/>
                                                                    </clipPath>
                                                                    </defs>
                                                                </svg>                                                    
                                                            </div>
                                                        </div>
                                                        <div class="aside-icons">
                                                            <a (click)="removeFileItem(color.id, $index)" class="cursor-pointer">
                                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M16 6V5.2C16 4.0799 16 3.51984 15.782 3.09202C15.5903 2.71569 15.2843 2.40973 14.908 2.21799C14.4802 2 13.9201 2 12.8 2H11.2C10.0799 2 9.51984 2 9.09202 2.21799C8.71569 2.40973 8.40973 2.71569 8.21799 3.09202C8 3.51984 8 4.0799 8 5.2V6M10 11.5V16.5M14 11.5V16.5M3 6H21M19 6V17.2C19 18.8802 19 19.7202 18.673 20.362C18.3854 20.9265 17.9265 21.3854 17.362 21.673C16.7202 22 15.8802 22 14.2 22H9.8C8.11984 22 7.27976 22 6.63803 21.673C6.07354 21.3854 5.6146 20.9265 5.32698 20.362C5 19.7202 5 18.8802 5 17.2V6" stroke="#999999" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="col max-w-[50%] w-full py-4 px-6 border bg-white border-[#E9E9E9] rounded-lg">
                        <form
                        [formGroup]="editProductFormGroup"
                        (submit)="this.submitForm()"
                        class="form flex flex-col gap-y-8">
                            <div class="input flex flex-col gap-y-3">
                                <label for="productName" class="text-xs font-medium">Nome do Produto</label>
                                <input type="text"
                                class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                formControlName="productName" placeholder="Nome do Produto" id="productName">
                            </div>

                            <div class="brands">
                                @if (this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.BRANDS_ADD_PRODUCTS) | async) {

                                    <div class="input flex flex-col gap-y-3">
                                        <label class="text-xs text-transparent placeholder relative! w-fit! h-full! rounded-lg font-medium">{{ this.pageLoaderIdentifier.CATEGORIES_ADD_PRODUCTS }}</label>
                                        <div class="p-[14px] text-xs text-transparent placeholder relative! w-full! h-full! bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg">placeholder</div>
                                    </div>

                                } @else {
                                    <mi-select
                                    [label]="'Marca'"
                                    [name]="'select-brand'"
                                    [defaultValues]="(this.theProduct && this.theProduct.brand) ? [this.theProduct.brand] : []"
                                    [items]="this.brandsToSelect()"
                                    [optionValue]="'id'"
                                    [optionName]="'name'"
                                    [required]="true"
                                    [placeholder]="'Seleccione a marca'"
                                    (selectedItemsEventEmitter)="this.selectedBrandEventHandler($event)"
                                    />
                                }
                            </div>

                            <div class="category">
                                @if (this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.CATEGORIES_ADD_PRODUCTS) | async) {

                                    <div class="input flex flex-col gap-y-3">
                                        <label class="text-xs text-transparent placeholder relative! w-fit! h-full! rounded-lg font-medium">{{ this.pageLoaderIdentifier.CATEGORIES_ADD_PRODUCTS }}</label>
                                        <div class="p-[14px] text-xs text-transparent placeholder relative! w-full! h-full! bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg">placeholder</div>
                                    </div>

                                } @else {
                                    <mi-select
                                    [label]="'Categoria'"
                                    [name]="'select-category'"
                                    [items]="this.categoriesToSelect()"
                                    [defaultValues]="(this.theProduct && this.theProduct.categories) ? this.theProduct.categories : []"
                                    [optionValue]="'id'"
                                    [optionName]="'name'"
                                    [required]="true"
                                    [placeholder]="'Seleccione a categoria'"
                                    (selectedItemsEventEmitter)="this.selectedCategoryEventHandler($event)"
                                    />
                                }
                            </div>
                            <div class="sub-categories">
                                @if (this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.SUB_CATEGORIES_ADD_PRODUCTS) | async) {

                                    <div class="input flex flex-col gap-y-3">
                                        <label class="text-xs text-transparent placeholder relative! w-fit! h-full! rounded-lg font-medium">{{ this.pageLoaderIdentifier.CATEGORIES_ADD_PRODUCTS }}</label>
                                        <div class="p-[14px] text-xs text-transparent placeholder relative! w-full! h-full! bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg">placeholder</div>
                                    </div>

                                } @else {
                                    <mi-select
                                    [label]="'Subcategorias'"
                                    [name]="'select-subcategory'"
                                    [items]="this.subCategoriesToSelect()"
                                    [defaultValues]="(this.theProduct && this.theProduct.subcategory && !(this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.SUB_CATEGORIES_ADD_PRODUCTS) | async)) ? [this.theProduct.subcategory] : []"
                                    [optionValue]="'id'"
                                    [optionName]="'name'"
                                    [required]="true"
                                    [multi]="false"
                                    [placeholder]="'Seleccione as subcategorias'"
                                    (selectedItemsEventEmitter)="this.selectedSubCategoriesEventHandler($event)"
                                    />
                                }
                            </div>
                            <div class="sizes">
                                <mi-select
                                [label]="'Tamanhos'"
                                [name]="'select-size'"
                                [defaultValues]="(this.theProduct && this.theProduct.sizes) ? this.theProduct.sizes : []"
                                [items]="this.sizes()"
                                [optionValue]="'id'"
                                [optionName]="'size'"
                                [required]="true"
                                [multi]="true"
                                [placeholder]="'Seleccione os tamanhos'"
                                (selectedItemsEventEmitter)="this.selectedSizesEventHandler($event)"
                                />
                            </div>

                            <div class="colors">
                                <div class="title mb-4 text-xs text-black">Cores</div>
                                <div class="colors-container flex flex-wrap gap-4 justify-start items-center">
                                    @for (color of colors(); track $index) {
                                        <div class="color flex gap-x-2 justify-start cursor-pointer items-center"
                                        (click)="toggleSelectColor(color.id)"
                                        >
                                            <div class="colored-circle rounded-full duration-[.2s] relative w-[24px] h-[24px] border-2 border-red-400"
                                            [style.borderColor]="(color.selected) ? color.hexCode : 'white'"
                                            >
                                                <div class="circle-center rounded-full w-[18px] h-[18px] absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] flex justify-center items-center"
                                                [style.backgroundColor]="color.hexCode"
                                                >
                                                    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                                                    *ngIf="color.selected">
                                                        <path d="M1 3.48889L4.02222 6.51111L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </div>
                                            </div>
                                            <label for="" class="text-[#999999] cursor-pointer">{{ color.colorName }}</label>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="price input flex flex-col gap-y-3">
                                <label for="price" class="text-xs font-medium">Preço</label>
                                <input type="text"
                                [ngClass]="{
                                    'is-invalid': this.editProductFormGroup.get('price')?.invalid && this.editProductFormGroup.get('price')?.touched
                                }"
                                class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                formControlName="price" placeholder="{{ 5000 | number | replaceBy }}" id="price">
                            </div>

                            <div class="qtd input flex flex-col gap-y-3">
                                <label for="qtd" class="text-xs font-medium">Qtd de produtos em stock</label>
                                <input type="text"
                                [ngClass]="{
                                    'is-invalid': this.editProductFormGroup.get('qtd')?.invalid && this.editProductFormGroup.get('qtd')?.touched
                                }"
                                class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                formControlName="qtd" placeholder="20" id="qtd">
                            </div>

                            <div class="promotionRate input flex flex-col gap-y-3"> 
                                <label for="promotionRate" class="text-xs font-medium mb-5">Promoção</label>
                                <mi-input-range id="promotionRate" formControlName="promotionRate" />
                                <div class="number-preview flex justify-between items-center mt-6">
                                    <span class="text-xs font-semibold text-black">{{ this.editProductFormGroup.get('promotionRate')!.value }}</span>
                                    <span class="text-xs font-semibold text-black">100</span>
                                </div>
                            </div>

                            <div class="availability input flex flex-col gap-y-3">
                                <label class="text-xs font-medium mb-6">Disponibilidade em stock</label>
                                
                                <div class="chips flex justify-start items-center gap-x-4">
                                    <div
                                    class="chip cursor-pointer w-fit bg-[rgba(39,206,153,0.10)] rounded-full px-3 py-2 text-[#288853] text-sm font-medium uppercase flex gap-2 items-center"
                                    (click)="changeAvailability(true)"
                                    >
                                        <div class="check w-5 h-5 duration-[.6s] border-2 rounded-[5px]  border-[#288853] flex justify-center items-center"
                                        [ngClass]="{
                                            'bg-[#288853]': isAvailable
                                        }"
                                        >
                                            <svg width="100%" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                                            *ngIf="this.isAvailable"
                                            >
                                                <path d="M1 3.48889L4.02222 6.51111L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        Disponível
                                    </div>
                                    <div
                                    class="chip cursor-pointer w-fit bg-[rgba(225,48,41,0.10)] rounded-full px-3 py-2 text-[#E13029] text-sm font-medium uppercase flex gap-2 items-center"
                                    (click)="changeAvailability(false)"
                                    >
                                        <div class="check w-5 h-5 border-2 rounded-[5px] border-[#E13029] flex justify-center items-center"
                                        [ngClass]="{
                                            'bg-[#E13029]': !isAvailable
                                        }"
                                        >
                                            <svg width="100%" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                                            *ngIf="!isAvailable"
                                            >
                                                <path d="M1 3.48889L4.02222 6.51111L9 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        Indisponível
                                    </div>
                                </div>

                            </div>

                            <div class="description input flex flex-col gap-y-3">
                                <label
                                [ngClass]="{
                                    'is-invalid': this.editProductFormGroup.get('description')?.invalid && this.editProductFormGroup.get('description')?.touched
                                }"
                                for="description" class="text-xs font-medium">Descrição</label>
                                <textarea rows="5" class="placeholder:text-xs resize-none text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                                formControlName="description" id="description"></textarea>
                            </div>

                            <div class="buttons flex justify-between items-center mt-8">
                                <button type="button" [routerLink]="['/store/products']" class="cancel p-4 text-[#999] text-sm leading-4 rounded-lg">
                                    Cancelar
                                </button>
                                <button type="submit" [disabled]="this.isEditing()" class="min-w-[150px] p-4 flex justify-center items-center bg-black text-white text-sm leading-4 rounded-lg">
                                    @if (this.isEditing()) {
                                        <mi-spinner />
                                    } @else {
                                        Publicar produto
                                    }
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal">
    @if (this.theColor !== undefined) {
        <mi-modal
        [showModalFromParent]="this.showColorModal"
        (hideModalOnParent)="this.hideColorModal($event)"
        >
            <div class="modal-content w-[500px] rounded-lg overflow-hidden bg-white p-10">
                <mi-dropzone
                [showDimentionsText]="true"
                [showPreviewFiles]="false"
                [multi]="false"
                [name]="this.theColor!.colorName!"
                (outcomeFiles)="this.addImagesToColor($event)"
                [isInvalidFromParent]="this.colorsWithImages[this.theColor!.id].length <= 0"
                />
            </div>
        </mi-modal>
    }
</div>