<div class="auth-panel flex w-ful w-[400px] flex-col gap-4">
    <div class="header flex justify-between items-stretch">
        <div class="chip-toggle bg-[#F8F8F8] p-2 rounded-full flex gap-4">
            <!-- <a [routerLink]="['/auth/sign-up']" routerLinkActive="text-black bg-white" class=" duration-[.6s] block text-[#999999] text-base font-normal px-3 py-2 rounded-full bg-transparent">
                Registrar
            </a>
            <a [routerLink]="['/auth/sign-in']" routerLinkActive="text-black bg-white" class=" duration-[.6s] block text-base font-normal px-3 py-2 rounded-full">
                Entrar
            </a> -->
        </div>
        <div class="additionals">
            <a [routerLink]="['/auth/sign-in']" class="text-sm">Cancelar</a>
        </div>
    </div>
    <div class="panel-content p-10 w-full border border-[#E9E9E9] rounded-lg">
        <form (submit)="submit()" [formGroup]="formGroup" class="">
            <div class="form-container flex flex-col gap-12">
                <div class="inputs flex flex-col gap-6">
                    <div class="email input flex flex-col gap-y-3">
                        <label for="email" class="text-xs font-medium">Insira o seu email</label>
                        <input type="email"
                        class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                        formControlName="email" placeholder="example@email.com" id="email" />
                        @if (this.formGroup.get('email')?.invalid && this.formGroup.get('email')?.touched) {
                            <small class="text-red-500">Verifique os dados deste campo</small>
                        }
                    </div>
                </div>
                <div class="submit">
                    <button type="submit" [disabled]="this.formGroup.invalid" class="min-w-[150px] w-full p-4 duration-[.3s] disabled:cursor-auto disabled:bg-black/70 cursor-pointer flex justify-center items-center bg-black text-white text-sm leading-4 rounded-lg">
                        @if (this.submiting()) {
                            <mi-spinner />
                        } @else {
                            Entrar
                        }
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <div class="buttons flex gap-6 my-6">
    <button [routerLink]="['/store']" class="bg-black text-white px-6 py-3 font-semibold rounded-xl border-none">
        Área de Loja
    </button>
    <button [routerLink]="['/admin']" class="bg-white border border-black px-6 py-3 text-black font-semibold rounded-xl">
        Administração Mistore
    </button>
</div> -->