<div class="wrapper py-6 px-8">
    <div class="wrapper-header">

        <div class="top-content flex justify-between items-start">
            <div class="aside">
                <div class="title mb-4">
                    <h1 class="text-black font-extrabold text-2xl">
                        Produtos
                    </h1>
                </div>
                <div class="tiny-text">
                    <p class="text-[#AAA] text-base">
                        Resumo dos principais dados sobre os seus produtos
                    </p>
                </div>
            </div>
            <div class="actions-chips flex gap-8 justify-start items-center">
    
                <div class="chip border bg-white w-fit border-black rounded-lg">
                    <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 6.66683H2M10.6667 1.3335V4.00016M5.33333 1.3335V4.00016M5.2 14.6668H10.8C11.9201 14.6668 12.4802 14.6668 12.908 14.4488C13.2843 14.2571 13.5903 13.9511 13.782 13.5748C14 13.147 14 12.5869 14 11.4668V5.86683C14 4.74672 14 4.18667 13.782 3.75885C13.5903 3.38252 13.2843 3.07656 12.908 2.88482C12.4802 2.66683 11.9201 2.66683 10.8 2.66683H5.2C4.0799 2.66683 3.51984 2.66683 3.09202 2.88482C2.71569 3.07656 2.40973 3.38252 2.21799 3.75885C2 4.18667 2 4.74672 2 5.86683V11.4668C2 12.5869 2 13.147 2.21799 13.5748C2.40973 13.9511 2.71569 14.2571 3.09202 14.4488C3.51984 14.6668 4.0799 14.6668 5.2 14.6668Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Selecionar data
                    </button>
                </div>
                <div class="chip border border-black bg-white w-fit rounded-lg">
                    <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 10V10.8C14 11.9201 14 12.4802 13.782 12.908C13.5903 13.2843 13.2843 13.5903 12.908 13.782C12.4802 14 11.9201 14 10.8 14H5.2C4.07989 14 3.51984 14 3.09202 13.782C2.71569 13.5903 2.40973 13.2843 2.21799 12.908C2 12.4802 2 11.9201 2 10.8V10M11.3333 6.66667L8 10M8 10L4.66667 6.66667M8 10V2" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Baixar Relatório
                    </button>
                </div>
    
            </div>
        </div>
        <div class="widgets mt-10 flex gap-6 flex-wrap justify-start items-center">
            @for (widget of this.widgets; track $index) {
                <mi-widget
                [widgetBackground]="widget.backgroundColor"
                [widgetMainTextColor]="widget.mainTextColor"
                class="widget w-[calc(32.98%-12px)]"
                >
                    <div class="w-description flex gap-2 justify-between items-center"
                    slot="widget-description"
                    >
                        <mi-svg
                        [reference]="widget.svgIcon.ref"
                        [color]="widget.svgIcon.color"
                        />
                        <p class="">
                            {{ widget.headerLabel }}
                        </p>
                    </div>
                    <div class="cta-dots"
                    slot="widget-cta-dots"
                    >
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13C12.5523 13 13 12.5523 13 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12C18 12.5523 18.4477 13 19 13C19.5523 13 20 12.5523 20 12Z" [attr.stroke]="widget.ctaDotsColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="big-content mb-2"
                    slot="widget-big-content"
                    >
                        <h1 class=" text-[2.5rem] font-extrabold leading-12">
                            {{ widget.data.main | number | replaceBy }}
                        </h1>
                    </div>
                    <div class="widget-footer"
                    slot="widget-footer"
                    >
                        <p class="flex gap-x-1 justify-start text-sm items-center"
                        [style.color]="widget.footerTextColor"
                        >
                            @if (widget.data.percentageStatus === widgetPercentageStatusEnum.ENCREASE) {
                                <span class="increasing text-[#61C554]! flex justify-start items-center">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 12L12 4M12 4H6.66667M12 4V9.33333" stroke="#61C554" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    {{ widget.data.percentageValue }}%
                                </span>
                            } @else {
                                <span class="decreasing text-[#ED695E]! flex justify-start items-center">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 4L12 12M12 12V6.66667M12 12H6.66667" stroke="#ED695E" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    {{ widget.data.percentageValue }}%
                                </span>
                            }
                            {{ widget.data.footerLabelValue| number | replaceBy }} {{ widget.data.footerLabelText }}
                        </p>
                    </div>
                </mi-widget>
            }
        </div>
    </div>
    <div class="wrapper-content mt-10 relative">
        <div class="table-section mt-10 py-6 w-full rounded-lg border border-[rgba(233,233,233,0.60)] bg-white flex flex-col gap-y-10">
            
            <div class="table-header px-6 flex justify-between items-start">
                <div class="table-header-aside">
                    <div class="title mb-4">
                        <h1 class="text-black font-bold text-lg">
                            Lista de produtos
                        </h1>
                    </div>
                    <div class="tiny-text">
                        <p class="text-[#AAA] text-base">
                            Todos os produtos disposto da sua loja
                        </p>
                    </div>
                </div>
                <div class="table-header-actions-chips flex gap-8 justify-start items-center">
        
                    <div class="chip border bg-white w-fit border-[#E9E9E9] rounded-lg">
                        <button class="text-black font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 8H12M2 4H14M6 12H10" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Filtrar
                        </button>
                    </div>
                    <div class="chip-primary borde bg-black w-fit border-black rounded-lg">
                        <button
                        [routerLink]="['/store/products/create']"
                        class="text-white font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_360_1952)">
                                <path d="M7.99967 5.3335V10.6668M5.33301 8.00016H10.6663M14.6663 8.00016C14.6663 11.6821 11.6816 14.6668 7.99967 14.6668C4.31778 14.6668 1.33301 11.6821 1.33301 8.00016C1.33301 4.31826 4.31778 1.3335 7.99967 1.3335C11.6816 1.3335 14.6663 4.31826 14.6663 8.00016Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_360_1952">
                                <rect width="16" height="16" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            Adicionar Produto
                        </button>
                    </div>
                    @if (this.selectedItems.length > 0) {
                        <div class="chip-primary borde bg-black w-fit border-black rounded-lg">
                            <button
                            [routerLink]="null"
                            (click)="this.changeCreateLookModalStatus(true)"
                            class="text-white font-semibold p-4 text-sm leading-4 flex gap-2 justify-center items-center">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1383_63)">
                                    <path d="M10.3639 6.61711C10.6131 6.17418 10.821 5.77451 10.9492 5.4703C11.5717 3.99314 10.9562 2.29401 9.45145 1.60091C7.94674 0.907815 6.43577 1.62649 5.77264 3.01411C4.50454 2.14396 2.81295 2.27176 1.88009 3.62965C0.947224 4.98755 1.24 6.76152 2.51769 7.72952C3.09756 8.16885 4.2444 8.8163 5.32413 9.39246M10.865 7.83346C10.5836 6.32149 9.29707 5.21572 7.67725 5.51626C6.05744 5.81681 5.01008 7.27822 5.22906 8.86616C5.405 10.142 6.37611 13.1353 6.7511 14.2628C6.80227 14.4167 6.82786 14.4936 6.87851 14.5473C6.92264 14.594 6.98132 14.6279 7.04386 14.6427C7.11564 14.6598 7.19506 14.6435 7.35389 14.6108C8.51784 14.3718 11.5957 13.7162 12.7886 13.2306C14.2732 12.6263 15.0395 10.9896 14.4656 9.43549C13.8917 7.88141 12.3151 7.32117 10.865 7.83346Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1383_63">
                                    <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>                                                      
                                Criar look
                            </button>
                        </div>
                    }
        
                </div>
            </div>
            <div class="table-content relative">
                <mi-table
                [pagination]="true"
                [route]="this.route"
                [perPage]="this.perPage"
                [currentPage]="this.currentPage"
                [totalItems]="this.totalItems"
                >
                    <thead class="bg-[#F8F8F8] sticky z-5 w-full left-0 text-left"
                    #theadElementRef
                    [style.top.px]="TABLE_STICKY_TOP"
                    slot="table-header"
                    >
                        <tr class="text-sm">
                            @if(this.checkbox){
                                <th class="relative py-4 px-6">
                                    <label class="checkbox-container"
                                    [ngClass]="{
                                        'all-checked': this.selectedItems.length === this.totalItems,
                                        'some-checked': this.selectedItems.length > 0  && (this.selectedItems.length < this.totalItems) 
                                    }"
                                    >
                                        <input type="checkbox"
                                        (click)="this.toggleSelect()"
                                        [checked]="this.selectedItems.length > 0"
                                        >
                                        <span class="checkmark checkmark-th"></span>
                                    </label>
                                </th>
                            }
                            <th class="py-4 px-6" *ngFor="let item of this.tableHeader; let l = last"
                            [ngClass]="{
                                'text-right': l
                            }"
                            >{{ item }}</th>
                        </tr>
                    </thead>
                    <tbody
                    class="relative"
                    slot="table-body"
                    >
                        @if (!(this.loaderService.getLoadingStatus(this.pageLoaderIdentifier.PRODUCTS) | async)) {
                            @if(this.tableProducts.length > 0){
                                @if (this.selectedItems.length > 0) {
                                    <tr class="text-sm appear-softly sticky bg-white z-5 w-full left-0"
                                    [style.top.px]="selectedDetailsStickyTopSpacing"
                                    >
                                        <td colspan="7" class="text-left pl-4 pr-10 py-4 font-medium">
                                            <div class="selected-details flex justify-between items-center">
                                                <div class="aside">
                                                    <p class="text-[#999]">
                                                        {{ this.selectedItems.length }} / <span class="text-black">{{ this.totalItems }}</span>
                                                        Selecionado{{ this.selectedItems.length > 1 ? 's' : '' }}
                                                    </p>
                                                </div>
                                                <div class="buttons flex gap-5 justify-center items-center">
                                                    @if (this.selectedItems.length === 1) {
                                                        <button
                                                            [routerLink]="['/store/products/edit/' + this.selectedItems[0].id ]"
                                                            [queryParams]="{ product_page: this.currentPage }"
                                                            [queryParamsHandling]="'merge'"
                                                            class="">
                                                            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="0.5" y="0.5" width="33" height="33" rx="3.5" fill="#F8F8F8"/>
                                                                <rect x="0.5" y="0.5" width="33" height="33" rx="3.5" stroke="#F2F2F2"/>
                                                                <path d="M24.5002 24.4999H17.8335M9.0835 24.9166L13.7079 23.138C14.0037 23.0242 14.1516 22.9673 14.2899 22.8931C14.4128 22.8271 14.53 22.751 14.6402 22.6654C14.7643 22.5692 14.8763 22.4571 15.1004 22.233L24.5002 12.8333C25.4207 11.9128 25.4207 10.4204 24.5002 9.49993C23.5797 8.57945 22.0873 8.57945 21.1669 9.49992L11.7671 18.8997C11.543 19.1238 11.4309 19.2358 11.3347 19.3599C11.2491 19.4701 11.173 19.5873 11.107 19.7102C11.0328 19.8485 10.9759 19.9964 10.8621 20.2922L9.0835 24.9166ZM9.0835 24.9166L10.7986 20.4574C10.9213 20.1383 10.9827 19.9787 11.0879 19.9057C11.1799 19.8418 11.2937 19.8176 11.4037 19.8386C11.5296 19.8627 11.6505 19.9836 11.8922 20.2253L13.7748 22.1079C14.0166 22.3496 14.1374 22.4705 14.1615 22.5964C14.1825 22.7064 14.1583 22.8202 14.0945 22.9122C14.0214 23.0174 13.8618 23.0788 13.5427 23.2015L9.0835 24.9166Z" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                        </button>
                                                    }
                                                    <button class="" (click)="deleteProducts()">
                                                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <rect width="34" height="34" rx="4" fill="#E13029"/>
                                                            <path d="M20.3333 11.9998V11.3332C20.3333 10.3997 20.3333 9.93304 20.1517 9.57652C19.9919 9.26292 19.7369 9.00795 19.4233 8.84816C19.0668 8.6665 18.6001 8.6665 17.6667 8.6665H16.3333C15.3999 8.6665 14.9332 8.6665 14.5767 8.84816C14.2631 9.00795 14.0081 9.26292 13.8483 9.57652C13.6667 9.93304 13.6667 10.3997 13.6667 11.3332V11.9998M15.3333 16.5832V20.7498M18.6667 16.5832V20.7498M9.5 11.9998H24.5M22.8333 11.9998V21.3332C22.8333 22.7333 22.8333 23.4334 22.5608 23.9681C22.3212 24.4386 21.9387 24.821 21.4683 25.0607C20.9335 25.3332 20.2335 25.3332 18.8333 25.3332H15.1667C13.7665 25.3332 13.0665 25.3332 12.5317 25.0607C12.0613 24.821 11.6788 24.4386 11.4392 23.9681C11.1667 23.4334 11.1667 22.7333 11.1667 21.3332V11.9998" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                @for (product of this.tableProducts; track $index) {
                                    <tr class="text-sm appear-softly"
                                    [ngClass]="{
                                        'bg-[#F8F8F8]': isSelected(product.id, 'checked')
                                    }"
                                    >
                                        @if(this.checkbox){
                                            <td class="relative py-4 px-6">
                                                <label class="checkbox-container">
                                                    <input
                                                    type="checkbox"
                                                    [checked]="isSelected(product.id, 'checked')"
                                                    (click)="selectItem(product)"
                                                    >
                                                    <span class="checkmark"></span>
                                                </label>
                                            </td>
                                        }
                                        <td class="py-4 px-6">
                                            <div class="product-details flex gap-x-2 justify-start items-center">
                                                @if(this.withImage){
                                                    <div class="image w-12 h-12 overflow-hidden"
                                                    [ngClass]="{
                                                        'rounded-full': this.imageRadius == 'full',
                                                        'rounded': this.imageRadius == 'lg',
                                                    }"
                                                    >
                                                        <img src="{{ (product.imagePath != '') ? product.imagePath : 'assets/images/products/no-image.png' }}" class="w-full h-full object-cover object-center" alt="">
                                                    </div>
                                                }
                                                <div class="product max-w-42.5 flex flex-col gap-y-2 justify-between items-start">
                                                    <h1 class="text-black text-sm leading-4 font-medium limited-text one-line" [title]="product.name">
                                                        {{ product.name }}
                                                    </h1>
                                                    @if(this.withTinyText){
                                                        <p
                                                        class="text-sm text-[#aaa] leading-4 limited-text one-line">
                                                            ID: {{ product.ID }}
                                                        </p>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td class="py-4 px-6 text-[#828282]">{{ product.subcategory.name }}</td>
                                        <td class="py-4 px-6 text-[#828282] text-center">{{ product.quantity | number | replaceBy: ',' : ' ' }}</td>
                                        <td class="py-4 px-6 text-[#828282] text-center">{{ product.created_at }}</td>
                                        <td class="py-4 px-6 text-[#828282]">{{ product.price| number | replaceBy }} AOA</td>
                                        <td class="py-4 px-6 flex justify-end">
                                            <button class="chip py-1 px-2 items-center flex gap-x-2 justify-center rounded-full font-medium"
                                            [style.backgroundColor]="(product.status && product.status.length > 0 && product.status[0].status) ? 'rgba(39,206,153,0.10)' : 'rgba(225,48,41,0.10)'"
                                            [style.color]="(product.status && product.status.length > 0 && product.status[0].status) ? '#288853' : '#E13029'"
                                            >
                                                <mi-svg
                                                [reference]="(product.status && product.status.length > 0 && product.status[0].status) ? this.svgRefEnum.CHECK_CIRCLE : this.svgRefEnum.MINUS_CIRCLE"
                                                [color]="(product.status && product.status.length > 0 && product.status[0].status) ? '#288853' : '#E13029'"
                                                />
                                                {{ (product.status && product.status.length > 0 && product.status[0].status) ? 'Disponível' : 'Indisponível' }}
                                            </button>
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="text-sm appear-softly">
                                    <td colspan="7" class="text-left px-6 py-4 font-medium">
                                        Sem produtos cadastrados.
                                    </td>
                                </tr>
                            }
                        } @else {
                            @for(placeholder of this.generatePlaceholders(); track $index){
                                <tr class="text-sm appear-softly">
                                    <td class="relative py-4 px-6" *ngIf="this.checkbox">
                                        <label class="checkbox-container relative">
                                            <span class="checkmark-placeholder placeholder relative! w-6! h-6!"></span>
                                        </label>
                                    </td>
                                    <td class="py-4 px-6">
                                        <div class="product-details flex gap-x-2 justify-start items-center">
                                            <div class="image relative w-12 h-12 overflow-hidden"
                                            *ngIf="this.withImage"
                                            [ngClass]="{
                                                'rounded-full': this.imageRadius == 'full',
                                                'rounded': this.imageRadius == 'lg',
                                            }"
                                            >
                                                <div class="placeholder"></div>
                                            </div>
                                            <div class="product max-w-42.5 flex flex-col gap-y-2 justify-between items-start">
                                                <h1 class="text-transparent relative! placeholder text-sm leading-4 font-medium limited-text one-line">
                                                    Texto médio para o skeleton
                                                </h1>
                                                <p
                                                *ngIf="this.withTinyText"
                                                class="text-sm relative! w-fit! placeholder text-transparent leading-4 limited-text one-line">
                                                    Texto Pequeno
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="py-4 px-6 text-transparent">
                                        <p class="placeholder relative! w-fit!">Texto pequeno</p>
                                    </td>
                                    <td class="py-4 px-6 text-transparent">
                                        <p class="placeholder relative! w-fit!">Texto pequeno</p>
                                    </td>
                                    <td class="py-4 px-6 text-transparent">
                                        <p class="placeholder relative! w-fit!">Texto pequeno</p>
                                    </td>
                                    <td class="py-4 px-6 text-transparent">
                                        <p class="placeholder relative! w-fit!">Texto pequeno</p>
                                    </td>
                                    <td class="py-4 px-6  flex justify-end">
                                        <button class="chip placeholder text-transparent relative! w-fit! py-1 px-2 rounded-full font-medium">
                                            Texto pequeno
                                        </button>
                                    </td>
                                </tr>
                            }
                        }

                        @if (this.selectedItems.length > 0) {
                            <div class="modal-selected-products fixed ml-6 bottom-10 z-10 bg-white p-6 w-[360px] h-[240px] rounded-lg shadow-[0px_8px_24px_4px_rgba(0,0,0,0.08)]">
                                <div class="products-container h-full overflow-y-auto">
                                    <div class="boxes flex flex-col gap-4 items-start">
                                        @for (selectedProduct of selectedItems; track $index) {
                                            <div class="box flex justify-start gap-2">
                                                <div class="image w-10 h-10 relative rounded overflow-hidden">
                                                    <img [src]="(selectedProduct.imagePath != '') ? selectedProduct.imagePath : 'assets/images/products/no-image.png'" class="w-full h-full object-cover object-center" alt="">
                                                </div>
                                                <div class="description">
                                                    <p class="text-xs mb-1 font-medium leading-4 limited-text one-line">{{ selectedProduct.name}}</p>
                                                    <p class="text-xs text-[#AAA] limited-text one-line">ID: {{ selectedProduct.ID }}</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </tbody>
                </mi-table>
            </div>

        </div>

        <mi-modal
        [showModalFromParent]="this.showCreateLookModal$()"
        (hideModalOnParent)="this.changeCreateLookModalStatus(!$event)"
        >
            <div class="modal-body w-[380px] p-10 rounded-lg bg-white">
                <form
                [formGroup]="createLookFromProductFormGroup"
                (submit)="this.draftingLook()"
                class="form flex flex-col gap-y-8">
                    <div class="input flex flex-col gap-y-3">
                        <label for="title" class="text-xs font-medium">Adicionar nome do look</label>
                        <input type="text"
                        class="placeholder:text-xs text-xs placeholder:text-[#999] focus:outline-none p-[14px] text-[#999] bg-[#F8F8F8] border border-[#E9E9E9] rounded-lg"
                        formControlName="title" placeholder="Nome do Produto" id="title">
                    </div>
                    
                    <div class="buttons flex justify-between items-center">
                        <button
                        type="submit"
                        [disabled]="this.isCreatingLook() || this.createLookFromProductFormGroup.invalid || !(this.selectedItems.length > 0)"
                        class="w-full p-4 duration-[.6s] flex justify-center items-center bg-black disabled:bg-black/80 text-white text-sm leading-4 rounded-lg">
                            @if (this.isCreatingLook()) {
                                <mi-spinner />
                            } @else {
                                Adicionar
                            }
                        </button>
                    </div>
                </form>
            </div>
        </mi-modal>

    </div>
</div>