@import 'tailwindcss';

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-Light-300.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-Regular-400.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-Medium-500.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-SemiBold-600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-Bold-700.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-ExtraBold-800.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/inter/Inter-Black-900.ttf');
    font-weight: 900;
}

/* :root{
} */

*{
    font-family: 'Inter';
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    -webkit-tap-highlight-color: transparent;
}
.overflow-x-auto::-webkit-scrollbar,
.no-scroller::-webkit-scrollbar
{
    display: none;
}
.overflow-x-auto,
.no-scroller{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.limited-text
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.limited-text.one-line{
    -webkit-line-clamp: 1;
}
.limited-text.two-lines{
    -webkit-line-clamp: 2;
}
.limited-text.three-lines{
    -webkit-line-clamp: 3;
}
.limited-text.four-lines{
    -webkit-line-clamp: 4;
}
.limited-text.five-lines{
    -webkit-line-clamp: 5;
}
.limited-text.nine-lines{
    -webkit-line-clamp: 9;
}

.appear-softly{
    animation: appearSoftly .5s forwards ease-in-out;
}

@keyframes appearSoftly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.appear-softly-from-top{
    animation: appearSoftlyFromTop .3s forwards ease-in-out;
}
  
@keyframes appearSoftlyFromTop {
    0% {
        opacity: 0;
        translate: 0 -15px;
    }
    100% {
        opacity: 1;
        translate: 0 0px;
    }
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: placeholderAnimation 3s infinite linear;
}

@keyframes placeholderAnimation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}

/* Table Checkboxes customization */

/* The checkbox-container */
.checkbox-container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark.checkmark-th{
    border: 1px solid black;
}
.checkmark {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    border-radius: 5px;
    height: 24px;
    width: 24px;
    border: 1px solid #aaa;
}

input.is-invalid,
textarea.is-invalid
{
    border-color: red;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: black;
    border: 1px solid black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Sinal de checked */
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
    width: 70%;
    height: 70%;
}

th .checkbox-container.all-checked .checkmark:after {
    /* Sinal de checked */
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
}
th .checkbox-container.some-checked .checkmark:after {
    /* Sinal de menos para o Master Toggle */
    background: url('data:image/svg+xml,<svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 30 28"  fill="none"  stroke="white"  stroke-width="3"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /></svg>');
}