<div class="auth-panel w-ful w-[400px] pb-9 flex flex-col gap-4">
    <div class="header flex justify-between items-center">
        <div class="chip-toggle bg-[#F8F8F8] p-2 rounded-full flex gap-4">
            <a [routerLink]="['/auth/sign-up']" routerLinkActive="text-black bg-white" class=" duration-75 block text-[#999999] text-base font-normal px-3 py-2 rounded-full bg-transparent">
                Registrar
            </a>
            <a [routerLink]="['/auth/sign-in']" routerLinkActive="text-black bg-white" class=" duration-75 block text-base font-normal px-3 py-2 rounded-full">
                Entrar
            </a>
        </div>
        <div class="additionals text-[#999] text-sm">
            <span class="!text-black">2/</span>4 Passos
        </div>
    </div>
    <div class="panel-content p-10 w-full border border-[#E9E9E9] rounded-lg">
        <mi-stepper>
            <div class="step-1 w-[318px]">
                <mi-first-step></mi-first-step>
            </div>
            <div class="step-2 w-[318px] hidden">
                <!-- <mi-second-step></mi-second-step> -->
            </div>
        </mi-stepper>
    </div>
</div>