<div class="auth-panel w-ful w-[400px] pb-9 flex flex-col gap-4">
    <div class="header flex justify-between items-center">
        <div class="chip-toggle bg-[#F8F8F8] p-2 rounded-full flex gap-4">
            <a [routerLink]="['/auth/sign-up']" routerLinkActive="text-black bg-white" class=" duration-75 block text-[#999999] text-base font-normal px-3 py-2 rounded-full bg-transparent">
                Registrar
            </a>
            <a [routerLink]="['/auth/sign-in']" routerLinkActive="text-black bg-white" class=" duration-75 block text-base font-normal px-3 py-2 rounded-full">
                Entrar
            </a>
        </div>
        <div class="additionals text-[#999] text-sm">
            <span class="text-black!">{{ activeStep() }}/</span>4 Passos
        </div>
    </div>
    <div class="panel-content w-full">
        <mi-stepper [activeStep]="this.activeStep()">
            <div class="step-1 w-[400px]">
                <mi-first-step (nextStep)="goToStep(2)"></mi-first-step>
            </div>
            <div class="step-2 w-[400px]">
                <mi-second-step (formValues)="fullfillSecondStepFormGroup($event)"></mi-second-step>
            </div>
            <div class="step-3 w-[400px]">
                <mi-third-step (formValues)="fullfillThirdStepFormGroup($event)"></mi-third-step>
            </div>
            <div class="step-4 w-[400px]">
                <mi-fourth-step (formValues)="fullfillFourthStepFormGroup($event)"></mi-fourth-step>
            </div>
        </mi-stepper>
    </div>
</div>