:host{
  --dim: 18px;
}
.loader {
    width: var(--dim);
    height: var(--dim);
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}